/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-08-02, 23:33:40
    Author     : karl_
*/

.one.column {
    width: 100%;
}

.one-second.mcb-wrap {
    width: 50%;
}

.column, .columns {
    margin: 0;
}

.one-second.column {
    width: 50%;
}

.button_label, a.button.button_size_1 .button_label, a.button.button_size_2 .button_label, a.button.button_size_3 .button_label, a.button.button_size_4 .button_label,a.button .button_label {
    padding: 0;
}